<h1>SimpliLearn - Solution Architect - Web Service</h1>
<div class="nav">
	<ul>
		<li class="level0"><a th:href="@{/}">Home</a></li>
		<li class="level0" sec:authorize="hasRole('USER')"><a th:href="@{/input/submit}">Submit Input</a></li>
		<li class="level0" sec:authorize="hasRole('USER')"><a th:href="@{/myinputs}">My Inputs</a></li>
		<li class="level0" sec:authorize="hasRole('MANAGER')"><a th:href="@{/allinputs}">All Inputs</a></li>
		<li class="level0" sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></li>		
		<li class="level0" sec:authorize="isAuthenticated()">Logged user: <span sec:authentication="name"></span> (<span sec:authentication="principal.authorities"></span>)</li>		
		<li class="level0" sec:authorize="isAuthenticated()">
			<form th:action="@{/logout}" method="post">
            	<input type="submit" value="Sign Out"/>
        	</form>
        </li>
	</ul>
</div>