<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
</head>
<body>
	<div th:replace="fragments/Header"></div>
	<h2>All Inputs</h2>
		<table>
			<thead>
				<tr>
					<th>User Id</th>				
					<th>Feature</th>
					<th>Rating</th>
					<th>Comments</th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:if="${inputs.empty}">
					<td colspan="3">No Input Provided</td>
				</tr>
				
				<tr th:each="input : ${inputs}">
					<td><span th:text="${input.userName}">UserName</span></td>
					<td><span th:text="${input.featureId}">Feature</span></td>
					<td><span th:text="${input.rating}">Rating</span></td>
					<td><span th:text="${input.comments}">Comments</span></td>					
				</tr>
			</tbody>			
		</table>
</body>
</html>