<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
</head>
<body>
	<div th:replace="fragments/Header"></div>
	<h2>Submit Your Input</h2>
	<form action="#" th:action="@{/input/submit}" th:object="${greeting}"
		method="post">
		<p>
			<label>Feature</label> 
			<select th:field="*{featureId}">
				<option th:value="'FOOD'" th:text="Food"></option>
				<option th:value="'WORKPLACE'" th:text="Workplace"></option>
			</select>
		</p>
		<p>
			<label>Rating</label>
			<input type="number" th:field="*{rating}" min="1" max="5"/>
		</p>
		<p>
			<label>Comments</label>
			<textarea rows="5" cols="25" th:field="*{comments}"></textarea>
		</p>		
		<p>
			<input type="submit" value="Submit" /> <input type="reset"
				value="Reset" />
		</p>
	</form>
</body>
</html>